
@import url(http://fonts.googleapis.com/css?family=Signika:400,300,600,700);

body {
  max-width: 100%;
  font-family: 'Signika', sans-serif;
}

header {
  text-align: center;
  background-size: cover;
}

h1 {
  padding-top: 60px;
  line-height: 70px;
  text-align: center;
  font-size: 80px;
  color: purple;
  text-shadow: 0px 0px black;
  font-family: 'Signika', sans-serif;
}

h2 {
  padding-top: 60px;
  text-align: center;
  font-size: 30px;
  color: black;
  text-shadow: 0px 0px black;
  font-family: 'Signika', sans-serif;
}

h3 {
  padding: 100px 250px 0px 250px;
  text-align: center;
  font-size: 40px;
  color: black;
  text-shadow: 0px 0px black;
  font-family: 'Signika', sans-serif;
}

h4 {
  margin-top: -40px;
  padding-top: 0px;
  line-height: 30px;
  text-align: center;
  font-size: 25px;
  color: black;
  text-shadow: 0px 0px black;
  font-family: 'Signika', sans-serif;
  margin-bottom: 20px;
}

h5 {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 14px;
  font-family: helvetica;
}

img {
  margin: 40px 0 0 0;
  border: 7px;
  border-style: solid;
  border-radius: 20px;
}

ul {
  text-align: center;
  padding: 10px;
  background: rgba(0,0,0,0.0);
  font-size: 20px;
}

li {
  padding: 0px 55px 0px 10px;
  display: inline-block;
  font-family: 'Signika', sans-serif;
}

hr {
  width: 60%;
  height: 2px;
  color: purple;
}

#posts {
  margin-bottom: 10px;
}

article {
  top: 0;
  text-align: center;
  margin-top: -10px;
  font-size: 18px;
  font-family: helvetica;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#post_title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-family: 'Signika', sans-serif;
}

#post_description {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-family: 'Signika', sans-serif;
}

#post_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-family: 'Signika', sans-serif;
}

#post_image_file {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  font-family: 'Signika', sans-serif;
}


